body {
	margin: 0px;
	padding: 0;
	color: #616161;
	font-size: 80%;
}

.center {
	margin: auto;
	width: 55%;
	border-style: solid;
	border-width: 1px;
	height: 200px;
	border-color: gray;
}

.centerNotBorder {
	margin: auto;
	width: 55%;
}

.buttonAreaCenter {
	margin: auto;
	width: 55%;
}

.formCadastro {
	margin: auto;
	width: 55%;
	margin-top: 44px;
}

.titlePanel {
	margin: auto;
	width: 55%;
	margin-top: 44px;
}

.labelForm {
	font-weight: bold;
}

.messagePages {
	position: fixed;
	width: 99%;
	margin-top: -50px;
	margin-left: 10px;
	margin-right: 10px
}