<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!--
		Localiza o arquivo de propriedades.
	-->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/jdbc.properties</value>
				<value>classpath:/hibernate.properties</value>
				<value>classpath:/emailService.properties</value>
			</list>
		</property>
	</bean>

	<!--
		Identifica os beans anotados com @Service, @Repository, @Controller
	-->
	<context:component-scan base-package="br.com.buyFast.controller" />
	<context:component-scan base-package="br.com.buyFast.controller.adminController" />
	<context:component-scan base-package="br.com.buyFast.util" />

	<!--
		Habilita a configuração de beans via anotações sem a necessidade de
		usar PersistenceAnnotationBeanPostProcessor,
		AutowiredAnnotationBeanPostProcessor e etc
	-->
	<context:annotation-config />
	
	<!-- Marcação de transações através de anotações  -->
	<tx:annotation-driven />

</beans>