<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <!-- Mapeamento das tabelas -->
  <mapping class="br.com.buyFast.model.Settings"/>
  <mapping class="br.com.buyFast.model.Address"/>
  <mapping class="br.com.buyFast.model.Person"/>
  <mapping class="br.com.buyFast.model.Employee"/>
  <mapping class="br.com.buyFast.model.Administrator"/>
  <mapping class="br.com.buyFast.model.Bank"/>
  <mapping class="br.com.buyFast.model.Category"/>
  <mapping class="br.com.buyFast.model.Customer"/>
  <mapping class="br.com.buyFast.model.Order"/>
  <mapping class="br.com.buyFast.model.Product"/>
  <mapping class="br.com.buyFast.model.ItemsOrder"/>
  <!-- Classe para o cache -->
  <class-cache class="br.com.buyFast.model.Product" include="all" usage="read-write"/>
  <class-cache class="br.com.buyFast.model.Category" include="all" usage="read-write"/>
  <class-cache class="br.com.buyFast.model.Settings" usage="read-write"/>
 </session-factory>
</hibernate-configuration>
