<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- Serviços -->
	<bean id="facade" class="br.com.buyFast.service.serviceImpl.FacadeImpl" >
		<constructor-arg ref="adminDao" />
		<constructor-arg ref="employeeDao" />
		<constructor-arg ref="categoryDao" />
		<constructor-arg ref="productDao" />
		<constructor-arg ref="customerDao" />
		<constructor-arg ref="addressDao" />
		<constructor-arg ref="bankDao" />
		<constructor-arg ref="orderDao" />
		<constructor-arg ref="itemsOrderDao" />
		<constructor-arg ref="boletoService" />
	</bean>
	
	<bean id="emailService" class="br.com.buyFast.service.serviceImpl.EmailServiceImpl"> 
	    <property name="enviarEmail">
	    	<ref bean="mailSender"/>
	    </property>
	</bean>
	
	<bean id="boletoService" class="br.com.buyFast.service.serviceImpl.BoletoServiceImpl">
		<property name="generateBoleto">
			<ref bean="generateBoleto"/>
		</property>
	</bean>
	
	<!-- Beans Geradores -->
	<bean id="generateBoleto" class="br.com.buyFast.service.generate.GenerateBoleto"></bean>
	
	<!-- Envio de E-mail -->
    <bean id="mailSession" class="javax.mail.Session" factory-method="getInstance">
    	<constructor-arg>
    		<props>
    			<prop key="mail.smtp.auth">${smtp.auth}</prop>
    			<prop key="mail.smtp.starttls.enable">${smtp.starttls.enable}</prop>
    		</props>
    	</constructor-arg>
    </bean>
    
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"> 
     	<property name="host" value="${host}" />
     	<property name="port" value="${port}" />
     	<property name="password" value="${password}" />
     	<property name="username" value="${username}" />
     	<property name="session" ref="mailSession" />
    </bean>

</beans>
