<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Hibernate Dao -->
	<bean id="hibernateDaoSupport" abstract="true" class="org.springframework.orm.hibernate3.support.HibernateDaoSupport">
        <property name="sessionFactory" ref="hibernateSessionFactory"/>
    </bean>
	<!-- Classes DAO -->
	<bean id="genericDao" class="br.com.buyFast.integration.dao.daoImpl.GenericDaoImpl" parent="hibernateDaoSupport">
	</bean>
	<bean id="addressDao" class="br.com.buyFast.integration.dao.daoImpl.AddressDaoImpl" parent="genericDao">
	</bean>
	<bean id="adminDao" class="br.com.buyFast.integration.dao.daoImpl.AdminDaoImpl" parent="genericDao">
	</bean>
	<bean id="bankDao" class="br.com.buyFast.integration.dao.daoImpl.BankDaoImpl" parent="genericDao">
	</bean>
	<bean id="categoryDao" class="br.com.buyFast.integration.dao.daoImpl.CategoryDaoImpl" parent="genericDao">
	</bean>
	<bean id="itemsOrderDao" class="br.com.buyFast.integration.dao.daoImpl.ItemsOrderDaoImpl" parent="genericDao">
	</bean>
	<bean id="orderDao" class="br.com.buyFast.integration.dao.daoImpl.OrderDaoImpl" parent="genericDao">
	</bean>
	<bean id="personDao" class="br.com.buyFast.integration.dao.daoImpl.PersonDaoImpl" parent="genericDao">
	</bean>
	<bean id="productDao" class="br.com.buyFast.integration.dao.daoImpl.ProductDaoImpl" parent="genericDao">
	</bean>
	<bean id="settingsDao" class="br.com.buyFast.integration.dao.daoImpl.SettingsDaoImpl" parent="genericDao">
	</bean>
	<bean id="employeeDao" class="br.com.buyFast.integration.dao.daoImpl.EmployeeDaoImpl" parent="genericDao">
	</bean>
	<bean id="customerDao" class="br.com.buyFast.integration.dao.daoImpl.CustomerDaoImpl" parent="genericDao">
	</bean>
	
</beans>
