body {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 14px;
}
.header {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 18px;
}
.bottom {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 9px;
	  text-align: center;
	  vertical-align: middle;
	  color: #8E969D;
}

fieldset{
	padding-left: 25px;
	border: solid #CCCCCC 1px;
	margin: 0 auto;
	text-align: left;
	width: 300px;
	padding-bottom: 25px;
}  

.yui-skin-sam .yui-panel .bd{  
    background: #FFFFCC;  
    border-color: #33CC00;  
    height: 150px;  
}  
.yui-skin-sam .yui-panel .ft {  
    background: url(../design/nav.gif);   
}  
  
.yui-skin-sam .yui-panel .hd {    
    background: url(../design/nav.gif);  
}   
  
.yui-skin-sam .yui-panel-container.shadow .underlay {  
    background-color: #333333;  
    bottom:-7px;  
    left: 7px;  
    opacity:0.5;  
    position:absolute;  
    right:-7px;  
    top:7px;  
}